#About{
    height:100vh;
    width:100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top:40px;
    /* background-color: #0d47a1; */
    ;
}

.about1{
    width:100vw;
    display: flex;
    gap: 150px;
    align-items: center;
    justify-content: center;
    
}

#bio{
    display:flex;
    flex-direction: column;
    height: 350px;
    width: 60vw;
    justify-content: center;
    gap:100px;
}

#bio p{
    font-size: 1.3rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(240, 248, 255, 0.808);
    background-color: #161a4117;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    /* font-weight: 1000;  */
    /* color: #64FFDA; */
}
h2{
    font-size: 2.5rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700; 
    color: #64ffdbb6;
}

.interests{
    display:flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* background-color: rgba(220, 245, 235, 0.521); */
    width:90%;
    height:30vh;
    color: black;
}
#interest-container{
    height: 110px;
    width: 400px;
    background-color: #161a41;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    text-align: center;
    color: white;
    /* border : 1px solid #161a41; */
    z-index: 2;
    border-radius: 10px;
}

#icon{
    font-size: 2rem;
    color: #64FFDA;
    transform: translate(0%);
    z-index: 3;
}
#interest-container:hover #icon{
    transform: rotate(30deg);
    transition: 0.3s;
    color: #90ff64;
}

#interest-container:hover{
    background-color: #006989;
    color: #161a41;
    /* border : 1px solid #64FFDA; */
    cursor: pointer;
    transition: 0.3s;
    scale:1.1;
}

#interests-heading{
    z-index: 20;
    /* background-color: #161a41; */
    font-size: 1.8rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700; 
    color: #006989;
    text-transform: uppercase;
    transform: translate(0, 100%); 
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

#interests-heading::after{
    content: "";
    height: 1.5px;
    width:0px;
    background: #12cbd8;
}

#interests-heading:hover::after{
    font-weight: 1000;
    width: 100%;
    transition: 0.3s;
}