.section > a{
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
}

.section > a:hover{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    color: #00f1d1; 
    transition: width 0.3s ease-in-out;
    margin-top: 5px;
}
